{% extends 'layouts.html' %}
{% block body %}
<section id="cover">
        <div id="cover-caption">
            <div id="container" class="container">
                <div class="row">
                    <div class="col-sm-6 offset-sm-3 text-center">
                        <h1 class="display-4">About</h1>
                        <div class="card text-center" style="width: 100%;">
                                <div class="card-body">
                                  <h3 class="card-title">Confess !t</h3>
                                  <p class="card-text lead">Lorem ipsum dolor sit amet consectetur adipisicing
                                       elit. Rerum corrupti possimus sint vel quia perferendis tenetur
                                        maiores voluptatum hic, iste, quasi consectetur! 
                                      Quam deserunt excepturi labore officia numquam nobis eaque.</p>
                                </div>
                        </div>

                        <!-- <div class="info-form">
                            <form action="/login" method="POST" class="form-inlin justify-content-center">
                    
                                <div class="form-group">
                                    <label class="sr-only">Email</label>
                                    <input type="text" class="form-control form-control-lg" name="email" placeholder="Email">
                                </div>
        
                                <div class="form-group">
                                            <label class="sr-only">Password</label>
                                            <input type="text" class="form-control form-control-lg" name="password" placeholder="Password">
                                 </div>
                                <button type="submit" class="btn btn-success btn-block btn-lg ">Login!</button>
                            </form>
                        </div> --> 
                        <!-- <a href="#nav-main" class="btn btn-outline-secondary btn-sm" role="button">
                            More
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}